.DS_Store
.mc-lists.el
ac-comphist.dat
network-security.data
projectile-bookmarks.eld
# Directories to ignore
anaconda-mode
auto-save-list
emojis
elpa
eshell
games
meghanada
meghanada-server
recentf
tramp
url/cookies
var
bookmarks
projectile-bookmarks